.admin-navbar{
    height: 60px;
    box-shadow: 0 1px 3px -2px black;
}

.admin-nav-menu{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
    color: #626262;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #626262;
}

.admin-nav-menu li:hover {
    border-bottom: 2px solid #FF4141;
    border-bottom-color: #FF4141;
    cursor: pointer;
}

a.active {
    border-bottom: 2px solid #FF4141;
    border-bottom-color: #FF4141;
    cursor: pointer;
}